body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  // max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

#book-list {
  margin-top: 20px;
}

.book-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.book-item:last-child {
  margin-bottom: 0;
}

.book-item p {
  margin: 0;
}

.book-item .book-title {
  font-weight: bold;
}

#book-form {
  margin-top: 20px;
  // display: flex;
  justify-content: center;
  align-items: center;
}

#book-form input[type='text'] {
  // width: 200px;
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
}

#book-form button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#book-form button:hover {
  background-color: #555;
}

body {
  background: #fff;
}

* {
  color: #1d2630;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
  font-weight: bold;
}
td.number {
  text-align: right;
}

.edit-btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  display: inline-block;
  background-color: #dc3545;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  border-radius: 4px;
}

.delete-btn:hover {
  background-color: #c82333;
}
